pipeline/Transformtion.json
{
	"name": "Transformtion",
	"properties": {
		"activities": [
			{
				"name": "Fetch Cleansed Script",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://storageaccountth.blob.core.windows.net/scripts/cleansed_layer/cleansed_script.sql"
				}
			},
			{
				"name": "Run Cleansed layer",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set Cleansed Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Snowflake_temp1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@variables('cleansed_script_var')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Fetch History Script",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Run Cleansed layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://storageaccountth.blob.core.windows.net/scripts/history_layer/history_script.sql"
				}
			},
			{
				"name": "Set History variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch History Script",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "history_script_var",
					"value": {
						"value": "@activity('Fetch History Script').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run History layer",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set History variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Snowflake_temp1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@variables('history_script_var')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Fetch Core Script",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Run History layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://storageaccountth.blob.core.windows.net/scripts/core_layer/core_script.sql"
				}
			},
			{
				"name": "Set Core variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch Core Script",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "core_script_var",
					"value": {
						"value": "@activity('Fetch Core Script').output.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run Core layer",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set Core variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Snowflake_temp1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@variables('core_script_var')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set Cleansed Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Fetch Cleansed Script",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "cleansed_script_var",
					"value": {
						"value": "@activity('Fetch Cleansed Script').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"script1": {
				"type": "String"
			},
			"script": {
				"type": "String"
			},
			"script_arr": {
				"type": "Array"
			},
			"cleansed_script_var": {
				"type": "String"
			},
			"history_script_var": {
				"type": "String"
			},
			"core_script_var": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-03T04:19:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}